#dqf_top_padding{
  height: 36px;
  width: 100%;
  box-sizing: content-box;
}
header{
  width: 100%;
  background-color: #ff452c;
  padding-top: 50px;
  height: 36px;
  line-height: 36px;
  position: fixed;
  top: 0;
  left: 0;
  color: #fff;
  box-sizing: content-box;
}
header .dqf_head_left{
  width: 10%;
  float: left;
  padding-left: 10px;
  padding-right: 15px;
}
header .dqf_head_center{
  float: left;
  width: 40%;
  margin-left: 20%;
  text-align: center;
  height: 36px;
}
header .dqf_head_center .dqf_head_title{
  float: left;
  width: 33.333333%;
  position: relative;
}
.dqf_active_underline::after{
  content: " ";
  height: 2px;
  width: 100%;
  background-color: #fff;
  position: absolute;
  bottom: 4px;
  left: 0px;
}
header .dqf_head_right{
  width: 25%;
  float: right;
  padding-right: 12px;
}
header .dqf_head_right .dqf_head_search{
  width: 34px;
  font-size: 24px;
}
header .dqf_head_right >div{
  float: right;
}
header .dqf_head_right >div{
  float: right;
}
/* center部分 */
.dqf_center{
  width: 100%;
  background-color: #fff;
  padding: 10px;
}
.dqf_center::after{
  content: " ";
  display: table;
  clear: both;
}
/* banner心愿单 */
.dqf_banner{
  width: 100%;
  margin: 0 auto;
  height: 65px;
  background-color: #c3c3c3;
  border-radius: 10px;
  color: #fff;
}
.dqf_banner .dqf_bann_left_txt{
  float: left;
  width: 60%;
  padding-top: 10px;
  padding-left: 10px;
  font-size: 14px;
}
.dqf_banner .dqf_bann_left_txt .dqf_title{
  font-size: 18px;
}
.dqf_banner .dqf_bann_right{
  float: left;
  width: 40%;
  text-align: right;
  padding-right: 24px;
  padding-top: 18px;
}
.dqf_banner .dqf_bann_right .dqf_btn_txt{
  border: 1px solid #fff;
  border-radius: 20px;
  width: 70px;
  text-align: center;
  height: 30px;
  font-size: 14px;
  line-height: 28px;
  float: right;
}
/* 导航栏 */
.dqf_nav{
  width: 100%;
  font-size: 13px;
  padding-top: 15px;
  color: #333;
  padding-bottom: 8px;
}
.dqf_nav::after{
  content: " ";
  display: table;
  clear: both;
}
.dqf_nav .dqf_nav_left{
  float: left;
  width: 50%;
}
.dqf_nav .dqf_nav_left .dqf_left_title{
  float: left;
  width: 50%;
}
.ion-arrow-down-b::before{
  transform:scale(0.7);
}
.dqf_nav .dqf_nva_right{
  float: right;
  width: 50%;
  padding-right: 5px;
}
.dqf_nav .dqf_nva_right .dqf_right_icon{
  float: right;
  width: 40%;
  text-align: right;
  padding-right: 10px;
  font-size: 16px;
}
.dqf_nav .dqf_nva_right .dqf_right_txt{
  float: right;
  width: 35%;
  text-align: right;
  border-left: 1px solid #dfdfdf;
}
/* 收藏列表 */
.dqf_collect_list{
  width: 100%;
}
.dqf_collect_list .dqf_list_box{
  width: 100%;
  font-size: 13px;
  padding-bottom: 15px;
  position: relative;
}
.dqf_collect_list .dqf_list_box::after{
  content: " ";
  display: table;
  clear: both;
}
.dqf_collect_list .dqf_list_box .dqf_goods_img{
  width: 34%;
  float: left;
}
.dqf_collect_list .dqf_list_box .dqf_list_txt{
  width: 66%;
  padding-left: 10px;
  float: left;
}
.dqf_collect_list .dqf_list_box .dqf_goods_describe{
  color: #333;
  font-size: 15px;
}
.dqf_collect_list .dqf_list_box .dqf_collect_num{
  color: #999;
}
.dqf_collect_list .dqf_list_box .dqf_goods_txt_footer{
  width: 60%;
  /* width: 58%; */
  position: absolute;
  bottom: 9px;
}
.dqf_collect_list .dqf_goods_txt_footer::after{
  content: " ";
  display: table;
  clear: both;
}
.dqf_collect_list .dqf_list_box .dqf_left_price{
  color: #ff5000;
  float: left;
  line-height: 25px;
}
.dqf_collect_list .dqf_list_box .dqf_same{
  border: 1px solid #d0d0d0;
  border-radius: 20px;
  padding: 2px 8px;
  color: #7f7f7f;
  float: right;
}
/* 点击切换list样式后类名dqf_collect_list切换为dqf_switch_list */
.dqf_switch_list{
  width: 100%;
}
.dqf_switch_list .dqf_list_txt{
  display: none;
}
.dqf_switch_list .dqf_list_box{
  width: 32%;
  /* font-size: 13px;
  padding-bottom: 15px; */
  position: relative;
  display: inline-block;
}
.dqf_switch_list .dqf_list_box::after{
  content: " ";
  display: table;
  clear: both;
}
.dqf_switch_list .dqf_goods_img{
  float: left;
  margin-right: 1%;
  margin-bottom: 1%;
}
.dqf_switch_list .dqf_list_box .dqf_check_spn{
  position: absolute;
  top: 1px;
  left: 77px;
}
/* 列表dqf_switch_list结束 */
/* 复选框删除效果 */
.dqf_center .dqf_check_spn{
  position: absolute;
  left: 0;
  top: 34%;
  display: none;
}
.dqf_center input[type="checkbox"]{
  display: none;
}
.dqf_center .dqf_check_style_box{
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #fff;
  top: 3px;
  left: 0;
  border: 1px solid #ccc;
  /* display: none; */
  
  
}
.dqf_check_box_bgc{
  background-color: #ff5000!important;
  border: none;
}
.dqf_center .dqf_check_style_box::after{
  content: " ";
  position: absolute;
  left: 2px;
  top: 2px;
  width: 7px;
  height: 3px;
  border: 1px solid #fff;
  border-top-color: transparent;
  border-right-color: transparent;
  transform: rotate(-45deg);
  -ms-transform: rotate(-60deg);
  -moz-transform: rotate(-60deg);
  -webkit-transform: rotate(-60deg);
}


/* 底部固定定位的删除盒子 */
.dqf_footer_delete{
  width: 100%;
  background-color: #f4f4f4;
  height: 40px;
  position: fixed;
  bottom: 0;
  left: 0;
  display: none;
}
.dqf_footer_delete .dqf_all_btn{
  line-height: 40px;
  float: left;
}
.dqf_footer_delete input[type="checkbox"]{
  display: none;
}
.dqf_footer_delete .dqf_allcheck_spn{
  display: block;
  width: 30px;
  height: 40px;
  float: left;
}
.dqf_footer_delete .dqf_allcheck_style_box{
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #fff;
  top: 11px;
  left: 10px;
  border: 1px solid #ccc;
  /* display: none; */
}
.dqf_footer_delete .dqf_allcheck_style_box::after{
  content: " ";
  position: absolute;
  left: 2px;
  top: 2px;
  width: 7px;
  height: 3px;
  border: 1px solid #fff;
  border-top-color: transparent;
  border-right-color: transparent;
  transform: rotate(-45deg);
  -ms-transform: rotate(-60deg);
  -moz-transform: rotate(-60deg);
  -webkit-transform: rotate(-60deg);
}
.dqf_footer_delete .dqf_right_box{
  float: right;
  padding-top: 6px;
  padding-right: 10px;
}
.dqf_footer_delete .dqf_right_box .dqf_btn_clear{
  float: right;
  height: 26px;
  width: 67px;
  border: 1px solid #9f9f9f;
  border-radius: 15px;
  font-size: 12px;
  line-height: 25px;
  text-align: center;
  color: #999;
  margin-right: 10px;
}
.dqf_footer_delete .dqf_right_box .dqf_btn_delete{
  float: right;
  height: 26px;
  width: 67px;
  background: -moz-linear-gradient(left,#ff8401, #fd5f18);
  background: -o-linear-gradient(left,#ff8401, #fd5f18);
  background: -webkit-linear-gradient(left,#ff8401, #fd5f18);
  border-radius: 15px;
  font-size: 12px;
  line-height: 25px;
  text-align: center;
  color: #fff;
}
