#dqf_header{
  background-color: #f9f9f9;
}
#dqf_header .ion-android-arrow-back{
  color: #444;
  font-size: 24px;
}
#dqf_header .aui-title{
  color: #444;
}
#dqf_header .ion-android-more-vertical{
  font-size: 25px;
  color: #444;
}
.dqf_center{
  width: 100%;
  box-sizing: border-box;
  padding-left: 10px;
  background-color: #fff;
  margin: 10px 0;
}
.dqf_option_box{
  width: 100%;
  box-sizing: border-box;
  padding: 10px 0px 5px 0;
  padding-right: 55px;
  background-color: #fff;
  position: relative;
  border-bottom: 1px solid #eee;
}
.dqf_option_box .dqf_content{
  color: #333;
}
.dqf_option_box .dqf_describe{
  color: #999;
  font-size: 12px;
}
.dqf_option_box .dqf_btn_box{
  position: absolute;
  right: 10px;
  top: 20px;
}
.dqf_option_box .dqf_btn_box .dqf_check_style{
  background-color: #f9f9f9;
  /* border: 1px solid #bbb; */
  box-shadow: 0 0 1px #bbb;
  width: 20px;
  height: 20px;
  border-radius: 2px;
}
.dqf_option_box .dqf_btn_box.dqf_active .dqf_check_style{
  background-color: #ff530b;
  box-shadow: none;
}
.dqf_option_box .dqf_btn_box .dqf_check_style::after{
  content: " ";
  display: block;
  position: absolute;
  top: 2px;
  left: 3px;
  width: 11px;
  height: 7px;
  border: 2px solid #f9f9f9;
  border-top: none;
  border-right: none;
  transform: rotate(-49deg);
  -webkit-transform: rotate(-49deg);
  -ms-transform: rotate(-49deg);
  -moz-transform: rotate(-49deg);
  -o-transform: rotate(-49deg);
}






